<%= post_body(conversation.post) %>

<% if conversation.messages.size > 0 %>
<h4 class="conversation-header">origin: <%= irc_link(conversation.post.irc_channel) %></h4>
<ol class="conversation">
  <% conversation.messages.each do |message| %>
  <li>
    <% nick = message.person.name %>
    <cite><a href="/posts?person=<%= nick %>"><%= nick %></a> <abbr title="<%= Time.at(message.timestamp) %>"><%= Time.at(message.timestamp).strftime("%H:%M") %></abbr></cite>
    <blockquote cite='<%= message.permalink %>'><%= auto_link_urls(message.body) %></blockquote>
  </li>
  <% end %>
</ol>
<% end %>
