<%= post_body(post) %>
<% if conversation.size > 0 %>
<h4 class="conversation-header">origin: <%= irc_link(post) %></h4>
<ol class="conversation">
  <% conversation.each do |message| %>
  <li>
    <cite><a href="/posts?person=<%= message['nick'] %>"><%= message['nick'] %></a> <abbr title="<%= Time.at(message['timestamp']) %>"><%= Time.at(message['timestamp']).strftime("%H:%M") %></abbr></cite>
    <blockquote cite='<%= message['permalink'] %>'><%= auto_link_urls(message['line']) %></blockquote>
  </li>
  <% end %>
</ol>
<% end %>
