<ol class="persons">
  <% people.all.each do |person| %>
  <li class="person">
    <h3>
      <%= person_stats(person) %>
      <%= person_link(person) %>
    </h3>
    <dl class="person-data">
      <dt>twitter</dt>
      <dd><a href="http://twitter.com/<%= person.twitter_name %>"><%= person.twitter_name %></a></dd>
      <dt>github</dt>
      <dd><a href="http://github.com/<%= person.github_name %>"><%= person.github_name %></a></dd>
    </dl>
   </li>
  <% end %>
</ol>
