<div id="post-<%= post.id %>" class="post <%= post.post_type.name %>">
  <h3>
    <%= post_date(post) %>
    <%= person_stats(person) %>
    <span class="post-info">
      <%= vote_text(post) %>
      <a href="/posts/<%= post.id %>">#<%= post.id %></a>
    </span>
    <%= post_header(post, person) %>
  </h3>
  <dl class="tag-list">
    <dt>Tags:</dt>
     <%= tag_links(tags) %>
  </dl>
  <%= render_post(post) %>
</div>

<% if detail_view && post.has_follow_ups? %>
<% post.follow_ups.all.each do |reply| %>

  <!-- FIXME weird dm bug workaround -->
  <% person = Person.get(reply.person_id) %>
  <% tags = Tag.all(:id => reply.post_tags.map { |t| t.tag_id }) %>

  <%= partial :post, :locals => { :post => reply, :person => person, :tags => tags, :detail_view => false } %>

<% end %>
<% end %>
