<% bot     = Config['irc']['nick'] %>
<% twitter = Config['twitter']['owner_login'] %>

<h2>All available commands for <a href="http://github.com/snusnu/alfred"><%= bot %></a></h2>

Here's a quick list of commands you can send to <%= bot %>. Maybe they'll grow some more as we discover useful scenarios.

<h3>Get some info from <%= bot %></h3>

<dl>
  <dt>prints a little info about <%= bot %></dt>
  <dd><em><%= bot %>: identify</em></dd>

  <dt>prints a link to this list of commands</dt>
  <dd><em><%= bot %>: show commands</em></dd>

  <dt>prints a link to all posts</dt>
  <dd><em><%= bot %>: show posts</em></dd>

  <dt>prints a link to the list of available tags</dt>
  <dd><em><%= bot %>: show tags</em></dd>

  <dt>prints a link to the list of posts tagged with tag</dt>
  <dd><em><%= bot %>: show tag some_tag</em></dd>

  <dt>prints a link to the list of questions people asked (along with their answers)</dt>
  <dd><em><%= bot %>: show questions</em></dd>

  <dt>prints a link to the list of answers people provided (along with links to the questions)</dt>
  <dd><em><%= bot %>: show answers</em></dd>

  <dt>prints a link to the post, question or answer you requested (or a message if no such post is present)</dt>
  <dd><em><%= bot %>: show (post | question | answer) some_id</em></dd>
</dl>

<h3>Post tagged messages</h3>

<dl>
  <dt>posts a tagged snippet of text to <%= bot %></dt>
  <dd><em><%= bot %>: post[tag1 tag2]: whatever you want to post</em></dd>
</dl>

<dl>
  <dt>ask a question on <%= bot %>'s website</dt>
  <dd><em><%= bot %>: ask[tag1 tag2]: whatever you want to ask</em></dd>
</dl>

<dl>
  <dt>answer a question on <%= bot %>'s website</dt>
  <dd><em><%= bot %>: answer[id1,id2]: your answer to the question(s) with the given id(s) </em></dd>
</dl>

<h3>Vote for posts, question and answers</h3>

<dl>
  <dt>Vote up post, question or answer with id = 1</dt>
  <dd><em><%= bot %>: +1 for (post | question | answer) 1</em></dd>
</dl>

<dl>
  <dt>Vote down post, question or answer with id = 1</dt>
  <dd><em><%= bot %>: -1 for (post | question | answer) 1</em></dd>
</dl>


<h3>Tweet in the name of <em><%= twitter %></em></h3>

<dl>

  <dt>people currently allowed to tweet in the name of <strong><%= twitter %></strong></dt>
  <dd><em><%= Config['allowed'].join(', ') %></em></dd>

  <dt>allow someone to tweet as <strong><%= twitter %></strong> (you must be allowed to do so)</dt>
  <dd><em>/msg <%= bot %> allow irc_nick</em></dd>

  <dt>send a tweet as <strong><%= twitter %></strong> (you must be allowed to do so)</dt>
  <dd><em><%= bot %>: tweet: the message you want to tweet</em></dd>

  <dt>let <strong><%= twitter %></strong> follow someone on twitter (you must be allowed to do so)</dt>
  <dd><em><%= bot %>: follow twitter_nick</em></dd>
</dl>
