<% bot     = Config['irc']['nick'] %>
<% twitter = Config['twitter']['owner_login'] %>

<h2>All available commands for <a href="http://github.com/snusnu/alfred"><%= bot %></a></h2>

Here's a quick list of commands you can send to <%= bot %>. Maybe they'll grow some more as we discover useful scenarios.

<h3>Get some info from <%= bot %></h3>

<dl class="commands">

  <dt>prints a little info about <%= bot %></dt>
  <dd><kbd><%= bot %>: identify</kbd></dd>

  <dt>prints a link to this list of commands</dt>
  <dd><kbd><%= bot %>: show commands</kbd></dd>


  <dt>prints a link to all posts</dt>
  <dd><kbd><%= bot %>: show posts</kbd></dd>

  <dt>prints a link to all documentation texts</dt>
  <dd><kbd><%= bot %>: show documentation</kbd></dd>

  <dt>prints a link to the list of questions people asked (along with their answers)</dt>
  <dd><kbd><%= bot %>: show questions</kbd></dd>

  <dt>prints a link to the list of answers people provided (along with links to the questions)</dt>
  <dd><kbd><%= bot %>: show answers</kbd></dd>

  <dt>prints a link to all notes</dt>
  <dd><kbd><%= bot %>: show notes</kbd></dd>


  <dt>prints a link to all posts tagged with the given tags</dt>
  <dd><kbd><%= bot %>: show posts tagged with <samp>tag_1, tag_2</samp> </kbd></dd>

  <dt>prints a link to the post, question or answer you requested (or a message if no such post is present)</dt>
  <dd><kbd><%= bot %>: show (post | question | answer) <samp>some_id</samp></kbd></dd>


  <dt>prints a link to the list of available tags</dt>
  <dd><kbd><%= bot %>: show tags</kbd></dd>

  <dt>prints a link to the list of posts tagged with tag</dt>
  <dd><kbd><%= bot %>: show tag <samp>some_tag</samp></kbd></dd>

</dl>

<h3>Post tagged messages (you can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> for formatting)</h3>

<dl class="commands">
  <dt>posts documentation text to <%= bot %>'s website'</dt>
  <dd><kbd><%= bot %>: document[<samp>tag1 tag2</samp>]: <samp>whatever you want to post</samp></kbd></dd>

  <dt>ask a question on <%= bot %>'s website</dt>
  <dd><kbd><%= bot %>: ask[<samp>tag1 tag2</samp>]: <samp>whatever you want to ask</samp></kbd></dd>

  <dt>answer a question on <%= bot %>'s website</dt>
  <dd><kbd><%= bot %>: answer[<samp>id1,id2</samp>]: <samp>your answer to the question(s) with the given id(s)</samp> </kbd></dd>

  <dt>posts a tagged note on <%= bot %>'s website'</dt>
  <dd><kbd><%= bot %>: note[<samp>tag1 tag2</samp>]: <samp>whatever you want to post</samp></kbd></dd>
</dl>

<h3>Vote for posts, question and answers</h3>

<dl class="commands">
  <dt>Vote up post, question or answer with id = 1</dt>
  <dd><kbd><%= bot %>: +1 for (post | question | answer) <samp>1</samp></kbd></dd>

  <dt>Vote down post, question or answer with id = 1</dt>
  <dd><kbd><%= bot %>: -1 for (post | question | answer) <samp>1</samp></kbd></dd>
</dl>

<h3>Provide more information in your profile</h3>

<dl class="commands">

  <dt>Register your irc nick</dt>
  <dd><kbd>/msg <%= bot %> register</kbd></dd>

  <dt>Register your github name</dt>
  <dd><kbd>/msg <%= bot %> register github name: <samp>your_github_name</samp></kbd></dd>

  <dt>Register your twitter name</dt>
  <dd><kbd>/msg <%= bot %> register twitter nick: <samp>your_twitter_nick</samp></kbd></dd>

  <dt>Register your email address (necessary to display <a href="http://gravatar.com">gravatar</a> images on the site)</dt>
  <dd><kbd>/msg <%= bot %> register email: <samp>you@yourmail.com</samp></kbd></dd>

  <dt>Use your <a href="http://gravatar.com">gravatar</a> image on the website (you need to provide an email address for this to work)</dt>
  <dd><kbd>/msg <%= bot %> i use gravatar</kbd></dd>

</dl>


<h3>Tweet in the name of <em><%= twitter %></em></h3>

<dl class="commands">

  <dt>people currently allowed to tweet in the name of <em><%= twitter %></em></dt>
  <dd><kbd><%= Config['allowed'].join(', ') %></kbd></dd>

  <dt>allow someone to tweet as <em><%= twitter %></em> (you must be allowed to do so)</dt>
  <dd><kbd>/msg <%= bot %> allow <samp>irc_nick</samp></kbd></dd>

  <dt>send a tweet as <em><%= twitter %></em> (you must be allowed to do so)</dt>
  <dd><kbd><%= bot %>: tweet: <samp>the message you want to tweet</samp></kbd></dd>

  <dt>let <em><%= twitter %></em> follow someone on twitter (you must be allowed to do so)</dt>
  <dd><kbd><%= bot %>: follow <samp>twitter_nick</samp></kbd></dd>

</dl>
