<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Alfred the IRC butler</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="/css/master.css" rel="stylesheet" type="text/css" />
  </head>

  <% bot = Config['irc']['nick'] %>

  <body>
    <div id="page">
      <div id="header">
        <h1><%= bot %> - irc butler for <em>#<%= Config['irc']['channel'] %></em> on <em><%= Config['irc']['server'] %></em></h1>
      </div>

      <div id="content">
        <div id="sidebar">
          <h2>find</h2>
          <ul id="menu">
            <li><a href="/people">people</a></li>
            <li><a href="/tags">tags</a></li>
            <li><a href="/posts?type=post">posts</a></li>
            <li><a href="/posts?type=question">questions</a></li>
            <li><a href="/posts?type=reply">replies</a></li>
            <li><a href="/commands">commands</a></li>
          </ul>
          <h2>about <%= bot %></h2>
          <p>
            <em><%= bot %></em> can help you collect useful information from irc channels. You can store away posts so that you can use them later
            on when you're writing your project's documentation, wiki pages, blog articles or whatever. You can tag these posts so
            that they are easier to find later on. Of course you're not limited to posting snippets of text. Just post a link to
            <em><%= bot %></em>, say to a <a href="http://pastie.org">pastie</a>, a <a href="http://gist.github.com">gist</a> or some
            interesting blogpost and tag them as you wish. <em><%= bot %></em> has convenient <a href="/commands">commands</a> to retrieve
            them later on.
          </p>
        </div>

        <div id="main">
          <%= yield %>
        </div>
      </div>
      <div id="footer">
        <p>
          a <a href="http://quasipartikel.at">quasipartikel</a> production
        </p>
      </div>
    </div>
  </body>
</html>
