<div id="post">
  <% if post.question? %>
    <h3><%= vote_text(post) %> <a href="/question/<%= post.id %>">#<%= post.id %></a> <%= post.created_at.strftime("%a, %b %d %Y at %H:%M") %>, <a href="/people/<%= post.person.name %>/posts"><%= post.person.name %></a> asked the following question</h3>
  <% elsif post.answer? %>
    <h3><%= vote_text(post) %> <a href="/question/<%= post.id %>">#<%= post.id %></a> <%= post.created_at.strftime("%a, %b %d %Y at %H:%M") %>, <a href="/people/<%= post.person.name %>/posts"><%= post.person.name %></a> posted this answer in reply to <%= questions_link_list(post) %></h3>
  <% else %>
    <h3><%= vote_text(post) %> <a href="/question/<%= post.id %>">#<%= post.id %></a> <%= post.created_at.strftime("%a, %b %d %Y at %H:%M") %>, <a href="/people/<%= post.person.name %>/posts"><%= post.person.name %></a> posted the following snippet</h3>
  <% end %>
  <p><%= post.body %></p>
</div>

<% if post.has_answers? %>
<div id="answers">
  <% post.answers.all.each do |answer| %>
    <div>
      <strong><%= vote_text(answer) %> <a href="/question/<%= answer.id %>">#<%= answer.id %></a></strong> <em>Answered by</em><span> <a href="/people/<%= answer.person.name %>/posts"><%= answer.person.name %></a> on  <%= answer.created_at.strftime("%a, %b %d %Y at %H:%M") %></span>
      <p><%= answer.body %></p>
    </div>
  <% end %>
</div>
<% end %>
