<ol class="posts">

  <% pager = pager_for(Project) %>

  <%= pager.to_html(projects_url, :size => 3) %>

  <% Project.page(current_page, options.merge(:order => [:github_url.asc], :per_page => 20)).each do |project| %>

    <li id="project-<%= project.id %>" class="post tip">
      <h3>
        <span class="post-info"></span>
        <a title="Github" href="<%= project.github_url %>" class="log-link">Github</a>
        <a title="Github" href="<%= project.github_url %>"><%= project.name %></a>
      </h3>

      <dl class="tag-list">
        <dt>Tags:</dt>
      </dl>

      <%= h project.description(:en_US) %>

    </li>

  <% end %>

  <%= pager.to_html(projects_url, :size => 3) %>

</ol>